@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'SFProDisplay-Bold';
  src: url('../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('../fonts/SFProDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'SFProDisplay-Semibold';
  src: url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFProDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'SFProDisplay-Medium';
  src: url('../fonts/SFProDisplay-Medium.woff') format('woff'),
        url('../fonts/SFProDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'SFProDisplay-Regular';
  src: url('../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('../fonts/SFProDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
}