@media (max-width: 1270px) {
  .goods {
    &__wrapper {
      padding: 0 50px;  
    }
    &__items {
      flex-wrap: wrap;
    }
    &__item {
      width: 48%;
    }
    &__arrow-left {
      left: 0;
    }
    &__arrow-right {
      right: 0;
    }
  }
}

@media (max-width: $minWidthDesktop) {
  .categories {
    grid-template-columns: repeat(2, 48%);
    justify-content: center;
  }
}

@media (max-width: 1185px) {
  .main {
    display: block;
    max-width: 100%;
    &-banner {
      max-width: inherit;
    }
    &-stock {
      max-width: inherit;
      margin: 25px auto 0 auto;
    }
  }
}

@include laptop {
  .header {
    &-top {
      &__hamburger {
        display: flex;
        align-items: center;
        & i {
          margin-right: 10px;
        }
      }
      &__logotype {
        display: none;
      }
      &__logotype-phone {
        display: block;
        background: url('../images/icons/logo-phone.svg') no-repeat center center;
        height: 80px;
        width: 100px;
      }
      &__menu-items {
        display: none;
      }
      &__address {
        display: none;
      }
      &__wrapper {
        width:  370px;
        justify-content: flex-end;
      }
    }
  }
  .goods__items_flex {
    & > li {
      width: 100%;
    }
  }
}



@media (max-width: 820px) {
  .header {
    margin-bottom: 40px;
    &-bottom {
      display: none;
    }
  }
  .sorting {
    &__wrapper {
      flex-direction: column-reverse;
      align-items: flex-start
    }
    &__inner {
      border-top: 1px solid $color1;
      border-bottom: 1px solid $color1;
      width: 100%;
      justify-content: start;
      margin-bottom: 25px;
    }
    &__dropDownMenu {
      margin-right: 0;
      border: none;
      &:after {
        background-image: url(../images/sort.svg);
        transform: rotate(180deg);
        left: 0;
        top: 25%;
      }
      &-item {
        padding: 15px 25px 15px 30px;
        font-weight: 600;
        font-size: 15px;
        line-height: 18px;
        font-family: $SFProDisplaySemiBold;
      }
    }
  }
  .product {
    &-wrapper {
      display: block;
    }
    &-info {
      width: 100%;
      margin: 0 auto 40px auto;
    }
    &-specifications {
      width: 100%;
      margin: 0 auto;
      &__characteristic-buyBtn {
        display: block;
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
  .footer {
    background-color: $color2;
    &__submit {
      margin-right: 0;
    }
    &__wrapper {
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    &__navigation {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      &-info {
        max-width: 300px;
        width: 100%;
        border-top: 2px solid $color1;
        border-bottom: 2px solid $color1;
        margin: -1px;
        &-title {
          color: $color4;
          font-size: 14px;
          line-height: 18px;
          font-family: $SFProDisplayMedium;
          font-weight: 500;
          padding: 15px 0 15px 15px;
          position: relative;
          &:after {
            content: '';
            cursor: pointer;
            background: url(../images/arrow-right.svg) no-repeat center center;
            height: 20px;
            width: 20px;
            position: absolute;
            right: 15px;
            z-index: 4;
          }
        }
        &-items {
          display: none;
          &.active {
            display: block;
          }
        }
        &-item {
          padding: 5px 0 5px 15px;
        }
      }
      &-social-links {
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 740px) {
  .categories {
    grid-template-columns: 100%;
  }
  .goods {
    &__item {
      width: 100%;
    }
    &__arrow-left {
      display: none;
    }
    &__arrow-right {
      display: none;
    }
  }
}

@media (max-width: 640px) {
  .filter {
    display: none;
  }
}

@media (max-width: 520px) {
  .sorting__tags-item {
    margin-bottom: 5px;
  }
}