@media (max-width: $minWidthDesktop) {
  .categories {
    grid-template-columns: repeat(2, 48%);
    justify-content: center;
  }
}

@media (max-width: 1185px) {
  .main {
    display: block;
    max-width: 100%;
    &-banner {
      max-width: inherit;
    }
    &-stock {
      max-width: inherit;
      margin: 25px auto 0 auto;
    }
  }
}

@include laptop {
  .header {
    &-top {
      &__hamburger {
        display: flex;
        align-items: center;
        & i {
          margin-right: 10px;
        }
      }
      &__logotype {
        display: none;
      }
      &__logotype-phone {
        display: block;
        background: url('../images/icons/logo-phone.svg') no-repeat center center;
        height: 80px;
        width: 100px;
      }
      &__menu-items {
        display: none;
      }
      &__address {
        display: none;
      }
      &__wrapper {
        width:  370px;
        justify-content: flex-end;
      }
    }
  }
}



@media (max-width: 820px) {
  .header {
    margin-bottom: 40px;
    &-bottom {
      display: none;
    }
  }
}

@media (max-width: 740px) {
  .categories {
    grid-template-columns: 100%;
  }
}