@mixin container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@mixin arrowLeft {
  background: url("../images/arrow-left.svg") no-repeat center center;
  height: 28px;
  cursor: pointer;
  width: 15px;
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
}

@mixin arrowRight {
  background: url("../images/arrow-right.svg") no-repeat center center;
  height: 28px;
  cursor: pointer;
  width: 15px;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
}

@mixin status {
  padding: 8px 20px;
  font-family: $ProximaNovaBold;
  background-color: $accentColor;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  color: $color3;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

@mixin goodsNavigation {
  cursor: pointer;
  padding: 0 0 10px 0;
  transition: 0.3s color;
  &_active {
    font-family: $SFProDisplayMedium;
    border-bottom: 2px solid $accentColor;
  }
  &:hover {
    color: $accentColor;
  }
  &:not(:last-child) {
    margin-right: 50px;
  }
}

@mixin goodsItem {
  position: relative;
  min-width: 270px;
  width: 270px;
  min-height: 400px;
  max-height: 435px;
  border: 1px solid $color2;
  border-radius: 3px;
  padding: 15px 20px 25px 15px;
  text-align: center;
  transition: 0.3s all;
  margin-bottom: 35px;
  &:hover {
    & .goods__item-title,
    & .goods__item-price {
      color: $accentColor;
      &.sold-out {
        color: $mainColor;
      }
    }
    .goods__item-view-product {
      opacity: 0.9;
    }
  }
  &-view-product {
    position: absolute;
    opacity: 0;
    padding: 18px 22px;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    color: $mainColor;
    background-color: $color3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: 0.3s all;
    font-size: 20px;
    line-height: 24px;
    font-family: $ProximaNovaSemibold;
    cursor: pointer;
  }
  &-status {
    @include status;
  }
  &-favorite-btn {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    & > i {
      font-size: 24px;
    }
  }
  &-img {
    margin-top: 50px;
    height: 200px;
    display: block;
    position: relative;
    width: 100%;
  }
  &-title {
    font-size: 18px;
    line-height: 21px;
    margin-top: 15px;
    transition: 0.3s all;
  }
  &-price {
    font-size: 30px;
    width: 80%;
    line-height: 36px;
    font-family: $SFProDisplayBold;
    margin-top: 25px;
    transition: 0.3s all;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    &.sold-out {
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 21px;
      font-family: $ProximaNovaBold;
      position: relative;
      bottom: 0px;
    }
  }
  &-add-btn {
    border-radius: 10px 0px 0px 0px;
    background-color: $accentColor;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px 15px;
    cursor: pointer;
    &.sold-out-btn {
      background-color: transparent;
      color: $accentColor;
      text-decoration: underline;
      position: static;
      text-align: center;
      font-size: 16px;
      line-height: 19px;
      padding: 0;
    }
    & > i {
      color: $color3;
      font-size: 20px;
    }
  }
}

@mixin goodsCarousel {
  @include container;
  margin-bottom: 80px;
  font-family: $SFProDisplayRegular;
  color: $mainColor;
  &__title {
    font-family: $SFProDisplayBold;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
  }
  &__categories {
    display: flex;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 18px;
  }
  &__category {
    @include goodsNavigation;
  }
  &__wrapper {
    position: relative;
  }
  &__arrow-left {
    @include arrowLeft;
    background: url("../images/arrow-left-reverse.svg") no-repeat center center;
    left: -40px;
  }
  &__arrow-right {
    @include arrowRight;
    background: url("../images/arrow-right-reverse.svg") no-repeat center center;
    right: -40px;
  }
  &__items {
    animation: 1s ease sliderOpacity;
    display: none;
    justify-content: space-between;
  }
  &__item {
    @include goodsItem;
    
  }
  &__btn-show-more {
    padding: 15px 43px;
    background-color: $color1;
    text-transform: uppercase;
    display: block;
    max-width: 250px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.12em;
    transition: 0.3s all;
    &:hover {
      background-color: $accentColor;
      color: $color3;
    }
  }
}

@mixin header {
  color: $mainColor;
  margin-bottom: 80px;
  &-top {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    font-family: $SFProDisplayBold;
    font-size: 20px;
    line-height: 24px;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 455px;
      width: 100%;
    }
    &__hamburger {
      display: none;
      font-size: 25px;
      cursor: pointer;
      & i {
        transition: $transition;
        &:hover {
          color: $accentColor;
        }
      }
    }
    &__menu-items {
      display: flex;
      justify-content: space-between;
      max-width: 455px;
      width: 100%;
    }
    &__menu-item {
      transition: $transition;
      &:hover {
        color: $accentColor;
      }
    }
    &__logotype {
      display: block;
      background: url("../images/icons/logotype.svg") no-repeat center center;
      height: 80px;
      max-width: 100px;
      width: 100%;
      margin: 0 50px;
    }
    &__address {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        background: url("../images/icons/map-pointer.svg") no-repeat center
          center;
        height: 30px;
        width: 30px;
        left: -30px;
        transform: translateY(-50%);
      }
    }
    &__user-btns {
      display: flex;
      justify-content: space-between;
      max-width: 105px;
      width: 100%;
    }
    &__user-btn {
      cursor: pointer;
      & > i {
        font-size: 25px;
        transition: $transition;
        &:hover {
          color: $accentColor;
        }
      }
    }
    .basket-btn {
      position: relative;
      &__counter {
        position: absolute;
        right: -15px;
        bottom: 0;
        height: 20px;
        width: 20px;
        line-height: 20px;
        color: $color3;
        font-size: 10px;
        background-color: $accentColor;
        border-radius: 50%;
        text-align: center;
        font-family: $SFProDisplayMedium;
      }
    }
  }
  &-bottom {
    background-color: $color1;
    margin-top: 20px;
    &__menu-items {
      @include container;
      display: flex;
      justify-content: space-between;
    }
    &__menu-item {
      padding: 15px 0;
      position: relative;
      width: 10%;
      text-align: center;
      & > a {
        position: relative;
        padding: 14px 0;
        &:before {
          content: "";
          transition: $transition;
          right: 0;
          left: auto;
          width: 0%;
        }
        &:hover {
          font-family: $SFProDisplaySemiBold;
          transition: $transition;
          &:before {
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $accentColor;
            bottom: -3px;
            right: auto;
            left: 0;
          }
        }
      }
      &_active {
        font-family: $SFProDisplaySemiBold;
        & > a {
          &:before {
            content: "";
            position: absolute;
            height: 3px;
            width: 100%;
            background-color: $accentColor;
            bottom: -3px;
            left: 0;
          }
        }
      }
    }
  }
}

@mixin footer {
  background-color: $color1;
  padding: 40px 0 30px 0;
  &__wrapper {
    @include container;
    display: flex;
    justify-content: space-between;
    height: 105px;
  }
  &__submit {
    width: 300px;
    font-family: $SFProDisplayBold;
    font-size: 14px;
    line-height: 17px;
    margin-right: 25px;
    &-title {
      margin-bottom: 35px;
    }
    &-inputs {
      width: 100%;
      display: flex;
    }
    &-input-email {
      border: none;
      padding: 8px 0 8px 12px;
      width: 100%;
      font-family: $SFProDisplayRegular;
      &::placeholder {
        color: $color2;
      }
    }
    &-input-btn {
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;
      font-family: $SFProDisplaySemiBold;
      background-color: $accentColor;
      border: none;
      color: $color3;
      padding: 10px 15px;
      transition: all 0.3s;
      &:hover {
        background-color: $color3;
        color: $accentColor;
      }
    }
  }
  &__navigation {
    max-width: 715px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &-info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      font-size: 14px;
      line-height: 17px;
      &-item {
        transition: all 0.3s;
        &:not(.footer__navigation-info-title):hover {
          color: $accentColor;
        }
      }
      &-title {
        font-family: $SFProDisplayBold;
      }
    }
    &-social-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 210px;
      width: 100%;
      font-size: 30px;
    }
    &-social-link {
      transition: all 0.3s;
      &:hover {
        color: $accentColor;
      }
    }
  }
  &__copuright {
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 370px;
    width: 100%;
    font-family: $SFProDisplayRegular;
    font-size: 10px;
    line-height: 12px;
  }
}

@mixin crumb {
  @include container;
  margin: -40px auto 40px auto;
  font-family: $SFProDisplayRegular;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: $color2;
  span {
    position: relative;
  }
  span:not(:last-child) {
    margin-right: 25px;
    &:before {
      content: "";
      background: url(../images/arrow-more.svg) no-repeat center center;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      height: 15px;
      width: 15px;
    }
  }
}

@mixin sorting {
  @include container;
  margin-bottom: 40px;
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    font-family: $SFProDisplayBold;
    margin-bottom: 30px;
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tags {
    display: flex;
    flex-wrap: wrap;
    max-width: 570px;
    &-item {
      margin-right: 10px;
      padding: 4px 25px;
      border-radius: 3px;
      font-size: 14px;
      line-height: 17px;
      background-color: $color1;
    }
  }
  &__dropDownMenu {
    border: 1.5px solid $color6;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    margin-right: 35px;
    &:after {
      content: "";
      background: url(../images/arrow-more.svg) no-repeat center center;
      height: 20px;
      width: 20px;
      position: absolute;
      right: 10px;
      top: 16px;
      transform: translateY(-50%) rotate(90deg);
    }
    &-item {
      padding: 8px 50px 8px 20px;
    }
  }
  &__square-btn {
    background-image: url(../images/sort-square.svg);
    height: 21px;
    width: 23px;
    margin-right: 10px;
    cursor: pointer;
    &.active {
      background-image: url(../images/sort-square-active.svg);
    }
  }
  &__list-btn {
    background-image: url(../images/sort-list.svg);
    height: 19px;
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
    &.active {
      background-image: url(../images/sort-list-active.svg);
    }
  }
}

@mixin goodsItemsFlex {
  display: flex;
  max-width: 870px;
  width: 100%;
  flex-wrap: wrap;
  &.goods__item {
    max-height: 400px;
  }
}

@mixin goodsPage {
  @include container;
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
  & .filter {
    max-width: 280px;
    width: 100%;
    margin-right: 20px;
  }
  & .goods__items_flex {
    @include goodsItemsFlex;
  }
}

@mixin pagesCounter {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 330px;
  width: 100%;
  &__item {
    padding: 8px 16px;
    border: 2px solid transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: $ProximaNovaSemibold;
    color: $color2;
    margin-bottom: 100px;
    cursor: pointer;
    &.active {
      border: 2px solid $accentColor;
      color: $accentColor;
    }
  }
}

@mixin filterItemCheckbox {
  &-item-checkbox {
    margin-bottom: 40px;
    &__title {
      cursor: pointer;
      display: flex;
      margin-bottom: 20px;
    }
    &__img {
      margin-right: 10px;
      transform: rotate(90deg);
    }
    &__text {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      font-family: $SFProDisplaySemiBold;
    }
    &__search {
      padding: 8px 18px;
      border: 1px solid #e0e0e0;
      margin-bottom: 20px;
      &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #BDBEC2;
      }
    }
    &__label {
      display: flex;
      align-items: center;
      width: 50%;
      margin-bottom: 20px;
      &-wrapper {
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 220px;
        max-width: 100%;
        &.active {
          display: flex;
        }
      }
    }
    &__input {
      margin-right: 7px;
    }
  }
  &__show-more {
    color: $accentColor;
    text-decoration: underline;
    width: 100%;
  }
  &__stock-items {
    display: none;
    justify-content: space-between;
    &.active {
      display: flex;
    }
    & .notAvailibialy {
      background-color: $color1;
      color: $color2;
    }
  }
  &__stock-item {
    padding: 6px 15px;
    font-family: $SFProDisplayBold;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    &_sale {
      background-color: $accentColor;
      color: $color3;
    }
    &_new {
      background-color: $color7;
      color: $color3;
    }
    &_hit {
      background-color: $color7;
      color: $color3;
    }
    &_diller {
      background-color: $mainColor;
      color: $color3;
    }
  }
  &__btn {
    padding: 15px 80px;
    background-color: $color1;
    color: $color6;
    border: none;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  &__moreParameters {
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 16px;
    &:after {
      content: '';
      background-image: url(../images/icons/arrow-up.svg);
      transform: rotate(180deg);
      width: 11px;
      height: 9px;
      position: absolute;
      right: 40px;
      top: 20%;
    }
  }
  &__reset {
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    text-decoration: underline;
    color: $color2;
  }
}

@mixin filterPrice {
  &__price {
    margin-bottom: 40px;
    &-title {
      display: flex;
      margin-bottom: 20px;
      &-img {
        margin-right: 10px;
      }
      &-text {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        font-family: $SFProDisplaySemiBold;
      }
    }
    &-range {
      height: 1px;
      background-color: #e0e0e0;
      margin-bottom: 20px;
    }
    &-differences {
      display: flex;
      justify-content: space-between;
      color: $color2;
      & span {
        text-decoration-line: underline;
        color: $mainColor;
        margin-left: 10px;
      }
      &-from {
      }
      &-to {
      }
    }
  }
}

@mixin filterEngine {
  &__engine {
    &-power,
    &-torque,
    &-speed {
      border-bottom: 2px solid $color2;
      display: flex;
      justify-content: space-between;
      margin-bottom: 25px;
    }
    &-title {
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      font-family: $SFProDisplaySemiBold;
    }
    &-value {
      padding-right: 20px;
      position: relative;
      &:after {
        content: '';
        background-image: url(../images/icons/arrow-up.svg);
        transform: rotate(180deg);
        position: absolute;
        right: 0;
        top: 10%;
        height: 9px;
        width: 11px;
      }
    }
  }
}

@mixin product {
  @include container;
  margin-bottom: 80px;
  &-wrapper {
    display: flex;
    justify-content: space-between;
  }
  &-info {
    width: 500px;
    &__status {
      font-size: 15px;
      line-height: 18px;
      letter-spacing: 0.12em;
      color: $color3;
      background-color: $accentColor;
      padding: 13px 25px;
      display: inline-block;
      border-radius: 3px;
      margin-bottom: 20px;
    }
    &__img {
      width: 100%;
      margin-bottom: 20px;
      & > img {
        width: 100%;
      }
    }
    &__price {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      font-family: $ProximaNovaBold;
      text-align: center;
      margin-bottom: 20px;
      &_old {
        margin-top: 5px;
        font-size: 30px;
        line-height: 36px;
        color: $color2;
      }
    }
    &__cheaper {
      font-size: 15px;
      line-height: 18px;
      color: $accentColor;
      text-align: center;
    }
  }
  &-specifications {
    width: 570px;
    &__title {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      font-family: $SFProDisplayBold;
      margin-bottom: 10px;
    }
    &__article {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 25px;
    }
    &__rating {
      display: flex;
      justify-content: space-between;
      width: 240px;
      align-items: center;
      margin-bottom: 50px;
      &-favorite {
        
      }
      &-list {

      }
      &-stars {
        & > img {
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
    &__tabs {
      &-titles {
        display: flex;
        & .active {
          font-weight: 700;
          font-family: $SFProDisplayBold;
          color: $mainColor;
          position: relative;
          margin-bottom: 25px;
          &:before {
            content: '';
            position: absolute;
            bottom: -5px;
            height: 2px;
            width: 100%;
            background-color: $accentColor;
          }
        }
      }
      &-title {
        color: $color2;
        font-size: 20px;
        line-height: 24px;
        &:not(:last-child) {
          margin-right: 35px;
        }
      }
    }
    &__characteristic {
      &-Manufacturer {
        display: flex;
        justify-content: space-between;
        width: 440px;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
        border-bottom: 1px solid $color6;
        padding-bottom: 5px;
        margin-bottom: 20px;
        & > span {
          display: block;
          margin-right: 50px;
          width: 100px;
          text-align: start;
        }
      }
      &-showMore {
        font-size: 14px;
        line-height: 17px;
        color: $accentColor;
        text-decoration: underline;
        margin-bottom: 45px;
      }
      &-buyBtn {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: $color3;
        padding: 16px 53px;
        background-color: $accentColor;
        display: inline-block;
        border-radius: 3px;
      }
    }
  }
}
// media
@mixin laptop {
  @media (max-width: $maxWidthLaptop) {
    @content;
  }
}
