@import 'fonts.scss';
@import 'all.min.css';
@import 'var.scss';
@import 'animations.scss';
@import 'mixins.scss';
@import 'templates.scss';

body {
  font-family: $SFProDisplayRegular;
  color: $mainColor;
}

.main {
  @include container;
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  margin-bottom: 80px;
  &-banner {
    max-width: 870px;
    width: 100%;
    position: relative;
    margin-right: 25px;
    user-select: none;
    &__dots {
      display: flex;
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0;
      justify-content: center;
    }
    &__dot {
      background-color: transparent;
      border: 1px solid $color3;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &_active {
        background-color: $color3;
      }
    }
    &__arrow-left {
      @include arrowLeft;
    }
    &__arrow-right {
      @include arrowRight;
    }
    &__wrapper {
      display: flex;
      &-img {
        animation: 1s ease sliderOpacity;
        display: none;
        width: 100%;
      }
    }
  }
  &-stock {
    min-width: 265px;
    max-width: 265px;
    min-height: 400px;
    border: 1px solid $color2;
    border-radius: 3px;
    padding: 0 8px;
    position: relative;
    font-family: $SFProDisplayBold;
    color: $mainColor;
    text-align: center;
    font-size: 18px;
    &__status {
      @include status;
    }
    &__price {
      text-align: end;
      right: 8px;
      top: 0;
      margin-top: 5px;
      color: $accentColor;
      font-size: 27px;
      line-height: 32px;
      &-old {
        margin: 8px 10px 0 0;
        color: $color2;
        font-family: $SFProDisplayRegular;
        font-size: 14px;
        line-height: 17px;
      }
    }
    &__img {
      display: block;
      margin: 8px auto 4px auto;
    }
    &__title {
      line-height: 21px;
      padding: 0 25px;
      margin-bottom: 8px;
    }
    &__info {
      padding: 25px 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: $color1;
      font-family: $SFProDisplayRegular;
      font-size: 18px;
      line-height: 21px;
      &-date {
        font-family: $SFProDisplayBold;
        color: $accentColor;
        line-height: 22px;
      }
    }
  }
}

.search {
  @include container;
  margin-bottom: 80px;
  &-categories {
    display: flex;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
  }
  &-category {
    padding: 12px 25px;
    border-radius: 5px;
    cursor: pointer;
    &_active {
      font-family: $SFProDisplayBold;
      background-color: $color1;
    }
  }
  &-content {
    display: none;
    &_active {
      animation: .5s ease sliderOpacity;
      display: flex;
    }
    &__input-text {
      border: none;
      background-color: $color1;
      padding: 15px 0 15px 20px;
      width: 100%;
      font-size: 16px;
      line-height: 19px;
    }
    &__btn-search {
      font-family: $SFProDisplayBold;
      padding: 18px 40px;
      background-color: $accentColor;
      color: $color3;
      border-radius: 3px;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

.categories {
  @include container;
  font-family: $SFProDisplayBold;
  display: grid;
  grid-template-columns: repeat(3, 370px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  margin-bottom: 80px;
  &-item {
    border: 1px solid $color2;
    border-radius: 3px;
    padding: 20px 30px 20px 20px;
    display: flex;
    justify-content: space-between;
    transition: .3s all;
    &:hover {
      .categories-item__title {
        color: $accentColor;
      }
      box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
      border: 1px solid transparent;
    }
    &__wrapper {
      position: relative;
    }
    &__title {
      font-size: 23px;
      line-height: 28px;
      color: $mainColor;
      transition: .3s all;
    }
    &__more {
      font-family: $SFProDisplayRegular;
      color: $color2;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
    }
  }
}

.banner {
  @include container;
  margin-bottom: 80px;
  & img {
    width: 100%;
  }
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.hide {
  display: none;
}



@import 'media.scss';
