.header {
  @include header;
}

.crumb {
  @include crumb;
}

.sorting {
  @include sorting;
}

.goods {
  @include goodsCarousel;
}

.goods-page {
  @include goodsPage;
  & .filter {
    max-width: 280px;
    min-width: 280px;
  }
}

.filter {
  &__titles {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: $color2;
    font-family: $ProximaNovaBold;
    display: flex;
    margin-bottom: 40px;
    & .active {
      color: $mainColor;
      border-bottom: 2px solid $accentColor;
    }
    &-parameters {
      border-bottom: 2px solid transparent;
      margin-right: 40px;
    }
    &-model {
      border-bottom: 2px solid transparent;
    }
  }
  @include filterItemCheckbox;
  @include filterPrice;
  @include filterEngine;
}

.pages-counter {
  @include pagesCounter;
}

.footer {
  @include footer;
}