// fonts
$ProximaNovaBold: 'ProximaNova-Bold', sans-serif;
$ProximaNovaSemibold: 'ProximaNova-Semibold', sans-serif;
$SFProDisplayBold: 'SFProDisplay-Bold', sans-serif;
$SFProDisplaySemiBold: 'SFProDisplay-Semibold', sans-serif;
$SFProDisplayMedium: 'SFProDisplay-Medium', sans-serif;
$SFProDisplayRegular: 'SFProDisplay-Regular', sans-serif;

// colors
$mainColor: #2F3035;
$accentColor: #1C62CD;
$color1: #F0F0F4;
$color2: #C4C4C4;
$color3: #FFFFFF;
$color4: #7f7f7f;
$color5: #f9f9fc;
$color6: #D7D9DF;
$color7: #ff0000;

// others
$transition: .3s all;

// media
$minWidthDesktop: 1200px;
$maxWidthLaptop: 960px;